Создайте DataFrame, состоящую из 5 столбцов и 7 строк, в которой будут целые значения возраста от 1 до 100 включительно. Для столбцов используйте названия стран, для индексов строк - буквы латинского алфавита от a до g

In [9]:
print(np.random.randint(1,101, 35))

[63 11 95 97 77 92 22 57 10 26 44 69 49 12 83 55 80  8 99 66 55 88 29 73
 98 32 77 11 43 81  9 36 84 82 70]

In [10]:
import pandas as pd
import numpy as np
dataFrame = pd.DataFrame(np.random.randint(1,10,35).reshape(7,5), ['a', 'b', 'c', 'd', 'e', 'g', 'g'],
                         ['France', 'Spain', 'Italy', 'Germany', 'Great Britain'])

In [11]:
dataFrame

   France  Spain  Italy  Germany  Great Britain
a       5      6      1        2              3
b       2      2      3        1              3
c       3      1      2        8              5
d       4      5      4        3              7
e       7      6      6        6              5
g       7      4      4        9              5
g       4      2      7        4              7

In [13]:
dataFrame['France'].count()

7