In [1]:
import numpy as np
import pandas as pd

In [2]:
out_ind = ['T1', 'T', 'T1', 'T2', 'T2', 'T2']
ins_ind = [1,2,3,1,2,3]
ind_hier = list(zip(out_ind, ins_ind))

In [3]:
ind_hier

[('T1', 1), ('T', 2), ('T1', 3), ('T2', 1), ('T2', 2), ('T2', 3)]

In [4]:
mult_ind = pd.MultiIndex(levels=[['T1', 'T2'], [1,2,3]], 
                         codes=[[0,0,0,1,1,1], [0,1,2,0,1,2]])

In [5]:
mult_ind

MultiIndex(levels=[['T1', 'T2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
mult_ind_df = pd.DataFrame(np.random.randn(6,2), mult_ind, ['X', 'Y'])

In [7]:
mult_ind_df

             X         Y
T1 1  1.209372 -1.033809
   2  0.420379  0.469825
   3 -0.077493  1.454942
T2 1  1.393398  1.168509
   2 -0.190439  0.022449
   3  1.878347 -0.177699

In [13]:
mult_ind_df.loc['T1'].loc[2]

X    0.420379
Y    0.469825
Name: 2, dtype: float64

In [15]:
mult_ind_df[['X']]

             X
T1 1  1.209372
   2  0.420379
   3 -0.077493
T2 1  1.393398
   2 -0.190439
   3  1.878347

In [25]:
mult_ind_df.index.names

FrozenList([None, None])

In [26]:
mult_ind_df.index.names = ['Types', 'Numbers']

In [27]:
mult_ind_df

                      X         Y
Types Numbers
T1    1        0.284344 -0.125406
      2       -0.313034 -0.721937
      3       -0.998827  0.615279
T2    1       -0.130271 -0.338726
      2       -0.375857  0.114336
      3        0.228803  1.683902

In [28]:
mult_ind_df.loc['T1'].loc[3]['Y']

0.6152785331168308

In [29]:
mult_ind_df.xs('T2')

                X         Y
Numbers
1       -0.130271 -0.338726
2       -0.375857  0.114336
3        0.228803  1.683902

In [30]:
mult_ind_df.xs(2, level='Numbers')

              X         Y
Types
T1    -0.313034 -0.721937
T2    -0.375857  0.114336

Домашнее задание

In [31]:
import numpy as np
import pandas as pd
 
mult_ind = pd.MultiIndex(levels=[['A', 'B', 'C'], ['left', 'right']],
                     codes=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])
df = pd.DataFrame(np.random.randn(6, 3), mult_ind, ['X', 'Y', 'Z'])

In [32]:
df

                X         Y         Z
A left   0.433312  1.153801  0.634173
  right -2.008386 -0.670355 -2.127266
B left  -0.404141  0.993414 -0.082469
  right  1.035846  0.452891  0.608691
C left  -0.215054  1.093280 -0.344190
  right -0.120467 -1.672367 -0.664096

In [33]:
df.loc['C'].loc['left']['X']

-0.21505411186734869

In [34]:
df.index.names = ['Points', 'Sides']

In [35]:
df

                     X         Y         Z
Points Sides
A      left   0.433312  1.153801  0.634173
       right -2.008386 -0.670355 -2.127266
B      left  -0.404141  0.993414 -0.082469
       right  1.035846  0.452891  0.608691
C      left  -0.215054  1.093280 -0.344190
       right -0.120467 -1.672367 -0.664096

In [52]:
df.xs('right', level='Sides')['Y']

Points
A   -0.670355
B    0.452891
C   -1.672367
Name: Y, dtype: float64