In [4]:
import numpy as np
import pandas as pd

In [5]:
dict = {'one':[10, np.nan, 30], 'two': [np.nan, np.nan, 50], 
        'three': [10,10,10]}

In [7]:
df = pd.DataFrame(dict)

In [8]:
df

    one   two  three
0  10.0   NaN     10
1   NaN   NaN     10
2  30.0  50.0     10

In [13]:
df.dropna(thresh=2)

    one   two  three
0  10.0   NaN     10
2  30.0  50.0     10

In [17]:
df

    one   two  three
0  10.0   NaN     10
1   NaN   NaN     10
2  30.0  50.0     10

In [18]:
df['two'].fillna(value=df['two'].mean())

0    50.0
1    50.0
2    50.0
Name: two, dtype: float64